@import "./partials/_variables";
@import "./partials/_normalize";

@import "./partials/components/_Header";
@import "./partials/components/_Footer";

@import "./partials/pages/_Contact";
@import "./partials/pages/_Freelance";
@import "./partials/pages/_Personal";
@import "./partials/pages/_Home";
@import "./partials/pages/_Playground";
