.pages-freelance {
  padding-top: 133px;

  .wrapper-heading-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading-image {
      max-width: 580px;
    }

    h4 {
      font-size: 1.2em;
      font-weight: 400;
      margin-top: 2px;
      text-align: center;
    }
  }

  .wrapper-project {
    display: flex;
    justify-content: space-between;
    padding: 7.3em 5%;

    &:nth-of-type(odd) {
      background-color: $grey;
      flex-direction: row-reverse;

      .wrapper-text {
        margin-right: 90px;
      }
    }

    &:last-of-type {
      margin-bottom: 60px;
    }

    .wrapper-image {
      width: 47%;
      display: flex;
      align-items: center;

      img {
        border-radius: 3px;
        box-shadow: 0 0 6px rgba(34, 34, 34, 0.5);
        width: 100%;
        max-width: 770px;
      }
    }

    .wrapper-text {
      width: 53%;
      margin-left: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 2.3em;
        text-align: center;
        margin-bottom: 35px;
        text-transform: uppercase;
      }

      p:first-of-type {
        font-size: 1.2em;
        line-height: 1.6;
      }

      p:last-of-type {
        font-size: 1em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 35px;
        font-weight: 700;
      }

      a {
        text-transform: uppercase;
        background-color: $splash;
        color: $white;
        font-size: 0.9em;
        font-weight: 700;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        width: 87px;
        margin: 35px auto 0;
        transition: background-color 0.14s;

        &:hover {
          background-color: $splash-2;
        }
      }
    }
  }

  @media (max-width: 1150px) {
    .wrapper-project {
      .wrapper-image {
        width: 55%;
      }

      .wrapper-text {
        width: 45%;
        margin-left: 80px;

        h2 {
          font-size: 2em;
          margin-bottom: 24px;
        }

        p:first-of-type {
          font-size: 1.1em;
        }

        p:last-of-type {
          margin-top: 25px;
        }
      }
    }
  }

  @media (max-width: 960px) {
    .wrapper-project {
      flex-direction: column;
      align-items: center;
      padding: 5em 5%;

      &:nth-of-type(odd) {
        flex-direction: column;

        .wrapper-text {
          margin-right: 0;
        }
      }

      .wrapper-image {
        width: 75%;
        margin-bottom: 50px;
      }

      .wrapper-text {
        width: 75%;
        margin-left: 0;

        h2 {
          font-size: 2em;
          margin-bottom: 24px;
        }

        p:first-of-type {
          font-size: 1.1em;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 820px) {
    padding-top: 110px;

    .wrapper-project {
      padding: 4.5em 5%;

      .wrapper-image {
        width: 85%;
        margin-bottom: 50px;
      }

      .wrapper-text {
        width: 85%;

        h2 {
          font-size: 2em;
          margin-bottom: 24px;
        }

        p:first-of-type {
          font-size: 1.1em;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 720px) {
    padding-top: 100px;

    .wrapper-heading-title {
      padding: 0 5%;

      .heading-image {
        width: 87vw;
      }

      h4 {
        font-size: 1.1em;
      }
    }
  }

  @media (max-width: 700px) {
    .wrapper-project {
      padding: 4.1em 5%;

      .wrapper-image {
        width: 90%;
        margin-bottom: 50px;
      }

      .wrapper-text {
        width: 90%;

        h2 {
          font-size: 2em;
          margin-bottom: 24px;
        }

        p:first-of-type {
          font-size: 1.1em;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 550px) {
    .wrapper-project {
      padding: 3.2em 5%;

      .wrapper-image {
        width: 95%;
        margin-bottom: 50px;
      }

      .wrapper-text {
        width: 95%;

        h2 {
          font-size: 1.7em;
          margin-bottom: 24px;
        }

        p:first-of-type {
          font-size: 1.05em;
          text-align: center;
        }

        p:last-of-type {
          font-size: 0.97em;
          margin-top: 35px;
        }
      }
    }
  }

  @media (max-width: 450px) {
    .wrapper-heading-title {
      padding: 0 5%;

      h4 {
        font-size: 1em;
      }
    }
  }

  @media (max-width: 380px) {
    .wrapper-project {
      padding: 3.1em 5%;

      .wrapper-image {
        width: 97%;
      }

      .wrapper-text {
        width: 97%;
      }
    }
  }
}
